* {
  font-family: 'Century gothic';
}
.career1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin-top: 0;
}

.career-title {
  justify-content: center;
  font-size: 24px;
  font-style: italic;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-style: dashed;
  border-color: rgb(10, 82, 10);
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 15px;
  word-spacing: 2.5px;
  line-height: 1.9;
  margin-top: 100px;
  width: 100%;
}

.career-description {
  align-items: center;
  word-spacing: 2.5px;
  line-height: 1.9;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: justify;
}

.career {
  word-spacing: 2.5px;
  line-height: 1.9;
  font-size: 18px;
  border-top: 1px;
  border-left: 0;
  border-right: 0;  
  border-bottom: 0;
  border-style: dashed;
  border-color: rgb(10, 82, 10);
}

.career-info {
  word-spacing: 2.5px;
  line-height: 1.9;
  font-size: 18px;
  text-align: center;
}